<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/">General</a>
    <a href="/about">About Us</a>
  </nav>
  <form method="post" action="/check-user">
    <input type="text" name="username" placeholder="User Name" />
    <button type="submit">Search</button>
  </form>
</header>
